#comment-form input, textarea {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: inherit;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: 0;
  }

  #comment-form input{
      width: 200px;
  }

  #comment-form button {
    margin-top: 20px;
    background: #ccc;
    padding: 10px;
    text-transform: uppercase;
    font-size: inherit;
    border: none;
    outline: 0;
  }

  #comment-form{
      position: relative;
      margin-bottom: 75px;
  }